 <div class='container'>
  <h1>Festivals List</h1> 

 <div class='row row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 my-5'>




<a title="springemoji"  href="/festivals/spring"><img src="images/spring.png"/></a>
<a  href="/festivals/summer"><img src="images/summer.png"/></a>
<a href="/festivals/autumn"><img src="images/autumn.png" /></a>
<a href="/festivals/winter"><img src="images/winter.png"/></a> 


    





















  {{!-- image name status --}}
    {{!-- {{#each allFestivals}}
    <div class='col'>
      <div class='card shadow-sm'>
        <img src="{{image}}" alt="">
        <p>{{name}}</p>
        <p>{{date}}</p>
        <p>{{location}}</p>
        <p>{{description}}</p>
        <p>Price: {{price}}€</p>

        <form action = "/add-favorite" method="POST">
          
          <input type="hidden" name="name" value={{name}}>
          <input type="hidden" name="status" value={{status}}>
          <input type="hidden" name="species" value={{species}}>
          <input type="hidden" name="gender" value={{gender}}>
          <input type="hidden" name="image" value={{image}}>
          <input type="hidden" name="apiId" value={{id}}>

          <button type="submit">Añadir a favoritos</button>
        </form>
      </div>
    </div>
    {{/each}}     --}}
  </div>
</div>